{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}

{% with False as is_signin_page %}
{% with False as is_signup_page %}
{% with False as show_navbar %}

{% block default_content %}
<div class="container-fluid d-flex justify-content-center align-items-center bg-warning vh-100">
    <div class="card text-center bg-light shadow rounded" style="max-width: 500px; width: 100%;">
        <div class="card-header h5 text-white bg-success">Password Reset</div>
            <div class="card-body p-4">
                <p class="mb-3">Hello {{ user.get_username }},</p>
                <p class="mb-3">We received a request to reset the password for your account on {{ site_name }}.</p>
                <p class="mb-3">Click the link below to reset your password:</p>
                <p class="mb-4">
                    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" 
                    class="btn btn-success">Reset Your Password</a>
                </p>
                <p class="mb-3">If you did not make this request, you can ignore this email.</p>
                <p class="mb-0">Thank you,<br>The {{ site_name }} Team</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endwith %}
{% endwith %}
{% endwith %}
