{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}

{% with False as is_signin_page %}
{% with False as is_signup_page %}
{% with False as show_navbar %}

{% block default_content %}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center bg-light shadow rounded" style="max-width: 400px; width: 100%;">
      <div class="card-body p-4">
        <h2 class="text-primary">Password Reset Successful</h2>
        <p>Your password has been reset successfully. You can now <a href="{% url 'accounts:signin' %}" class="text-primary text-decoration-none">log in</a> with your new password.</p>
        </div>
    </div>
</div> 
{% endblock %}
{% endwith %}
{% endwith %}
{% endwith %}

